@inherits LayoutComponentBase
@using peliculas.Client.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 ">
            <a href="login"><span class="oi oi-account-login"></span> Iniciar sesión</a>
            <a href="register"><span class="oi oi-plus"></span> Registrarse</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
