<div class="alert alert-info" role="alert">
    <p>Lo Sentimos, pagina no disponible.</p>
</div>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("404: Página no encontrada");
    }
}